<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Gerekli İzinler -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VpnNew"
        tools:targetApi="31">

        <!-- LoginActivity'yi ilk ekran olarak ayarlıyoruz -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.VpnNew">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SignupActivity -->
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.VpnNew" />

        <!-- MainActivity (Diğer Ekranlar İçin) -->
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>

        <!-- VPN Servisi -->
        <service
            android:name=".MyVpnService"
            android:exported="true"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
    </application>

</manifest>
